
.background{
background-color: #f2f2f2;
min-height: 95vh;
  }
  
  .hover-logo {
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .hover-logo:hover {
    border-color: #f0f0f0; /* Change to the desired background color */
    transform: scale(1.05); /* Adjust the scaling as needed */
  }

  